.bg-video {
	position: absolute;
	z-index: -2;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.bg-video .video {
	height: 100vh;
}

.bg-video::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0.8) 50%,
		rgba(0, 0, 0, 1) 100%
	);
}

.container {
	position: relative;
	z-index: 3;
	display: flex;
	height: 100vh;
}

.container__left {
	width: 35%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: space-around;
}
.score_box {
	background-color: #f8eded;
	padding: 30px;
	text-align: center;
}

.frame {
	border: 3px solid #663838;
	border-radius: 5px;
}

.card_details {
	background-color: #f8eded;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 6rem;
	width: 90%;
}

#card-name {
	font-size: 0.8rem;
}

#card-type {
	font-size: 1rem;
}
